#!/bin/bash

process_ip () {
    host_name="$1"
    ip_addr="$2"
    interface="$3"

    dns_name="$interface.$host_name"
    dns_ip=$(dig +short "$dns_name")

    echo "dns_ip=$dns_ip"
    echo "ip_addr=$ip_addr"
    echo "dns_name=$dns_name"
    echo "interface=$interface"
    echo

    if [ "$ip_addr" != "$dns_ip" ]; then
        echo "IPs dont match"
        curl --silent --max-time 10 \
        --insecure \
        --data "dns_api_key=$dns_api_key&ip=$iip&host=$hn" \
        {{ dns_api_url }}
    fi
}

dns_api_key={{dns_api_key}}

iif=$(/sbin/ip ro show default | awk '/default/{print $5; exit}')
iip=$(/sbin/ip -o -4 addr show $iif \
    | awk '/inet /{split ($4, a, "/"); print a[1]; exit}')
hn=$(hostname)
dns_ip=$(dig +short $hn)

ips=$(/sbin/ip -o -4 addr| awk '/inet /{split($4, a, "/"); print $2, a[1] }')
echo "$ips" \
    | while read line; do \
        i_p=$(echo "$line"| cut -d " " -f 2); \
        i_f=$(echo "$line"| cut -d " " -f 1); \
        process_ip "$hn" "$i_p" "$i_f"; \
    done
#exit

echo hostname[$hn] iip[$iip] dns_ip[$dns_ip]

if [ "$iip" != "$dns_ip" ]; then
    echo "IPs dont match"
    curl --silent --max-time 10 \
        --insecure \
        --data "dns_api_key=$dns_api_key&ip=$iip&host=$hn" \
        {{dns_api_url}}
fi
